{% extends 'base.html.twig' %}

{% block title %}Liste des évènements
{% endblock %}

{% block body %}
	<style>
		body{
			background: rgb(252,176,69);
			background: linear-gradient(90deg, rgba(252,176,69,1) 25%, rgba(248,252,69,1) 40%, rgba(248,246,69,1) 60%, rgba(252,176,69,1) 75%);
		}
		.main-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.main-wrapper p {
			margin: 0;
			padding: 0;
			border-radius:10px;
		}
		.evenement {
			border-radius: 10px;
			text-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
			-webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.50);
			-moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.50);
			box-shadow: 0 0 20px 0 rgb(0 0 0 / 50%);
			width: 100%;
			max-width: 100%;
			margin-bottom: 20px;
			background-color: whitesmoke;
		}
		.evenement h2 {
			margin-left: 10px;
			margin-top: 10px;
		}
		.evenement p,
		.evenement iframe {
			margin-left: 10px;
			margin-right: 10px;
			border-style: none;
			word-wrap: break-word;
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 3; /* number of lines to show */
			-webkit-box-orient: vertical;
		}
		#organisateurEvenement {
			position: relative;
			right: 0;
		}
		.evenement a {
			width: 100%;
			max-width: 100%;
			clear: both;
			text-align: center;
			margin: 0;
			border-radius: 0;
		}
		.contenu p {
			margin-top: 10px;
			margin-bottom: 10px;
			font-size: 90%;
		}

		.btn-evenement{
			background-color:#fcb045; 
			color: brown;
			border-bottom-left-radius: 10px !important;
    		border-bottom-right-radius: 10px !important;
		}

		.btn-participer{
			background-color:#fcb045; 
			color: brown;
			border-radius: 10px !important;
			min-width: 1000px;
			margin: auto;
		}

	</style>

	<div class="main-wrapper">
		{% for evenement  in lesEvenements %}
			<div class="evenement">
				{% if app.user == evenement.compte or is_granted('ROLE_ADMIN') %}
					<h2>{{evenement.titre}}
						<a href="{{ path("evenement_modifier",{"id_evenement":evenement.id}) }}">
							<i class="material-icons" title="Modifier">create</i>
						</a>
						<a href="{{ path("evenement_supprimer",{"id_evenement":evenement.id}) }}">
							<i class="material-icons" style="color:crimson;" title="Supprimer">delete</i>
						</a>
						<a href="{{ path("invitation_add",{"idEvenement":evenement.id}) }}">
							<i class="material-icons" title="Modifier">playlist add</i>
						</a>
					</h2>
				{% elseif app.user != evenement.compte %}
					<h2>{{evenement.titre}}
					</h2>
				{% endif %}

				{# Gere l'affichage du bouton participer si on est deja dans les participants ou non  #}
				{% set present = false %}
				{% set break = false %}

				{% if evenement.participations is empty%}
					{% set break = true %}
				{% else %}
					{% for participation in evenement.participations  %}
						{% if not break %}
							{% if app.user.id  ==  participation.idUtilisateur.id %}
								{% set present = true %}
								{% set break = true %}
							{% endif %}
						{% endif %}
					{% endfor %}
				{% endif %}

				{% if not present %}
					<a href="{{path('participation_ajouter', {idEvenement: evenement.id})}}" class="btn-participer" >Participer</a>
				{% endif %}
				
				
				<hr>
				<p id="organisateurEvenement">
					<i class="material-icons">person</i>Auteur:
					{{ evenement.compte.username }}</p>
				<p>
					<i class="material-icons">add_to_queue</i>
					Ajouté le
					{{ evenement.dateCreation | date('d/m/Y') }}
					à
					{{ evenement.dateCreation | date('H:i')}}
					dans la categorie {{ evenement.categories.nom }}.
				</p>
				<p>
					<i class="material-icons" style="color:crimson;">fiber_manual_record</i>
					En direct le
					{{ evenement.dateDebut | date('d/m/Y') }}
					à
					{{ evenement.dateDebut | date('H:i')}}.
				</p>
				<div class="contenu">
					<iframe width="560" height="315" src="{{evenement.video}}" alt=""></iframe>
					<p>{{evenement.contenu | raw }}</p>
					<a href="{{path('evenement_details', {id_evenement: evenement.id})}}" class="btn btn-evenement" >Lire la suite</a>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
